@import url('https://fonts.googleapis.com/css?family=Oswald');
/* font-family: 'Oswald', sans-serif; */

h1 {
  top: 10px;
  left: 30%;
  text-align: center;
  font-size: 2em;
}



body {
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  /* background: linear-gradient(red, yellow); */
  /* background-image: url(img/backwave.png), repeat-x; */
  /* background: url("img/frontwave.png") repeat-x left 355px, url("img/backwave.png") repeat-x left 245px, linear-gradient(to bottom, #e5c62d  100px ,#7db9e8 300px,#6ebdc4 300px,#207cca 400px,#207cca 101%); */

  background: /*url("img/frontwave.png") repeat-x left 270px,
  /* url("img/imonaship.png") no-repeat 200px 120px, */
  /*url("img/backwave.png") repeat-x left 230px, */
  /* url("img/imonaship.png") no-repeat 150px 85px, */
  /* url(http://via.placeholder.com/400x300) no-repeat  310px 50px, */

  linear-gradient(to bottom, #edd7a6 100px,#d6c298 300px,#acdfe8 300px, #2989d8 14%, #5b738c 57%, #2d4754 85%);
}
/* Split the screen in half */
.split {
  height: 800px;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0 20px 20px 10px;


}

/* Control the left side */
.left {
  left: -7%;
  /* background-color: rgba(255,255,255,0.5); */
}

/* Control the right side */
.right {
  right: -7%;
  /* background-color: white;
  opacity: 0.5; */
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 500px;
  border-radius: 5%;
}

#counter {
  /* border: 1px solid red; */
  position: absolute;
  top: 100px;
  left: 39%;
  margin-top: 100px;
  padding-top: 20px;
  width: 200px;
  height: 300px;
  line-height: 150px;
  text-align: center;
  font-size: 3em;
}
#canvas {
  /* border: 1px solid blue; */
  position: relative;
  margin: 0 auto;
  width: 900px;
  height: 9000px;

}
#a {
 border: 1px solid yellow;
 margin: 0;
 padding: 0;
 position: relative;

}
#b {
  display: block;
  position: absolute;
  width: 500px;
  height: 300px;
  left: -19%;
  top: -20%;
  margin: 0;
  margin-top: 50px;
  padding: 10px;
}

#c {
  display: block;
  position: absolute;
  width: 500px;
  height: 300px;
  left: 62%;
  top: -20%;
  margin: 0;
margin-top: 50px;
  /* text-align: center; */
  padding: 10px;

}
h2 {
  text-align: center;

}
